.crossfade > figure {
  background-color: black;
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: black;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -999;
  margin: auto;
}
.crossfade > figure:nth-child(1) {
  background-image: url("../../components/Landing/sheets.jpeg");
}
.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url("../../components/Landing/synthesia.png");
}
.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url("../../components/Landing/glasses.jpeg");
}
.crossfade > figure:nth-child(4) {
  animation-delay: 24s;
  background-image: url("../../components/Landing/headphones.jpeg");
  width: 100%;
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.landing div {
  text-align: center;
}

.landing-title {
  font-size: 6em;
  color: white;
  margin: 0 0;
  padding: 0 0;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

.landing-subtitle {
  color: white;
  font-size: 2em;
  margin: 0 0;
  font-weight: bold;
  margin-bottom: 1%;
  text-shadow: 3px 3px 5px black;
}

@media (max-width: 415px) {
  .crossfade > figure {
    background-size: cover;
    background-position: center center;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -999;
    margin: auto;
    animation: none;
    opacity: 1;
  }
}
