.form__labels {
  margin: 20px 0 5px 0;
}

.form__inputs {
  width: 200px;
}

#form__button {
  margin: 2em 0;
  height: 30px;
  width: 150px;
  border-radius: 500px;
  border: 0;
}

@media (min-width: 684px) {
  .form-wrapper {
    grid-template-columns: 1fr 2fr;
    font-size: 1.5em;
  }

  .form__inputs {
    width: 400px;
  }

  #form__button {
    grid-column: 1 / -1;
  }
}

@media (min-width: 992px) {
  .form__wrapper {
    font-size: 2em;
  }

  .form__inputs {
    height: 20px;
    width: 600px;
  }
}
