.nav-wrapper {
  background: #fff;
  color: #353535;
  grid-column: 1 / -1;
}

.nav {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 60px;
  align-items: center;
}

.nav__item--home {
  padding-left: 2em;
}

.nav__item--right {
  display: none;
}

@media (min-width: 406px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .nav {
    grid-template-columns: 5fr repeat(5, 1fr);
    place-items: center;
  }

  .nav__item--home {
    justify-self: start;
  }

  .nav__item--right {
    display: block;
  }

  .button__icon {
    display: none !important;
  }
}
