@import "../../scss/settings";

.dashboard-container {
  display: flex;
  flex-direction: column;
  
  .dashboard-title {
    font-weight: $bold;
    margin-top: $spacing-x3;
    text-align: center;
  }

  .dashboard-subtitle {
    text-align: center;
  }

  .dashboard-get-started-button {
    width: 150px;
    margin: 0 auto;
  }
}