body {
  background: #f5f5fa;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.tutorial-wrapper {
  padding: 1em;
}

section {
  padding: 1em;
}

@media (min-width: 406px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .dashboard-wrapper {
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 992px) {
}
