@import '../../scss/settings';

.error-page {
  display: grid;
  grid-template-rows: 100px $spacing-x10 1fr 1fr;
  justify-items: center;
  margin-top: 60px;

    .error-page__img {
    width: $spacing-200;
    height: $spacing-200;
    background-image: url("./flushed-face.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .error-page__row--top {
    font-size: 5em;
    font-weight: bold;
  }
  .error-page__row--second {
    font-size: 4em;
  }

  .error-page__row--bottom {
    font-size: 1.5em;
    text-align: center;
  }
  .error-page__link {
    text-decoration: none;
  }
}


