.notFound__title {
  display: grid;
  grid-template-rows: 100px 150px 1fr 1fr;
  justify-items: center;
  margin-top: 60px;
}

.notFound__img {
  width: 200px;
  height: 200px;
  background-image: url("./flushed-face.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.notFound__row--top {
  font-size: 5em;
  font-weight: bold;
}
.notFound__row--second {
  font-size: 4em;
}

.notFound__row--bottom {
  font-size: 1.5em;
  text-align: center;
}
.notFound__link {
  text-decoration: none;
}
